.acordeon{
    margin-top: 10%;
        &__frecuentes{
            h2{
                font-size: 2rem;
                font-family: sans-serif;
                text-align: center;
                margin-bottom: 5%;
                color: white;
            }
        }
}

.bgi{
    background-image: url(https://fondosmil.com/fondo/65206.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}