@import 'mapa';

.box{
    &__article{
     border: 1px solid black;
     padding: 2%;
     background-color: map-get($color, 2);
     color: azure;
     font-family: sans-serif;
     text-align: center;
     height: 100%;
     margin-top: 10%;
 }

 &__article2{
    @extend .box__article;
    background-color: map-get($color, 3);
 }
}



