.cards{
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding-top: 8%;
    padding-bottom: 8%;

    &__1:hover{
        transform: scale(1.1);
        transition: 2s;
    }

    &__2:hover{
        transform: scale(1.1);
        transition: 2s;
    }

    &__3:hover{
        transform:scale(1.1);
        transition: 2s;
    }
}

.bgicards{
    background-image:linear-gradient(to bottom, white, white, white, blue, white, white, white) ;

}