.cards{
    margin-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;

    &__1:hover{
        transform: scale(1.1);
        transition: 2s;
    }

    &__2:hover{
        transform: scale(1.1);
        transition: 2s;
    }

    &__3:hover{
        transform:scale(1.1);
        transition: 2s;
    }
}
