@import 'mapa';

.centro{

    &__art{
        background-color: whitesmoke;
        padding: 5%;
        font-family: sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 20%;
            h2{
                font-size: 3rem;
                margin-bottom: 10%;
                text-align: center;
            }

            p{
                font-size: 1rem;
            }
    }

    &__art2{
        @extend .centro__art;

        h2{
            font-size: 3rem;
            margin-bottom: 10%;
            text-align: center;
        }

        p{
            font-size: 1rem;
        }

    }
}