@media (min-width: 992px){

    .header{
        & &__title{
            h1{
                font-size: 4rem;
            }
        }
    }

    .contacto{
        
       & &__instalaciones{
           
            h2{
                font-size: 4rem;
            }

            iframe{
                height: 500px;
                width: auto;
            }
        }

        & &__mapa{

            h2{
                font-size: 4rem;
            }
            
            iframe{
                height: 500px;
                width: auto;
            }
        }
    }

    .acordeon{
        max-width: 50%;
    }

}


@media (max-width:576px){


    .cards{
        padding-left: 20%;
    }
}


@media (max-width:410px){

    .cards{
        padding-left: 10%;
    }
}