@media (min-width: 992px){

    .header{
        & &__title{
            h1{
                font-size: 4rem;
            }
        }
    }
}


@media (max-width:576px){


    .cards{
        padding-left: 20%;
    }   
}


@media (max-width:410px){

    .cards{
        padding-left: 10%;
    }
}