*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

@import 'header';
@import 'box';
@import 'caja';
@import 'sociales';
@import 'end';
@import 'centro';
@import 'media';
@import 'acordeon';
@import 'form';
@import 'cards';
@import 'contacto';




